body {
  background-color: tomato;
  overflow-x: hidden;
  overflow-x: hidden;
}

.App {
  text-align: center;
  padding: 2% 5%;
  background-color: tomato;
  color: white;
}

.App * {
  box-sizing: border-box;
}

.title h1 {
  font-family: "Patrick Hand";
  font-size: 50px;
}

.title p {
  margin-top: -25px;
  padding-bottom: 30px;
  font-style: italic;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

.select-css {
  font-size: 14px;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 25%;
  max-width: 100%;
  margin: 0;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 0px;
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
}
.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select-css option {
  font-weight: normal;
}

.option {
  padding: 20px;
}

.city {
  width: 250px;
}

.CitySearch {
  display: flex;
  flex-direction: column;
}

.suggestions {
  width: 250px;
  align-self: center;
  margin: 0;
  font-size: 14px;
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: white;
  color: tomato;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: tomato;
  color: white;
}

.Event {
  padding: 10px 10px 20px;
  margin-bottom: 10px;
  text-align: left;
  border: 2px solid #111111;
  background-color: white;
  color: tomato;
  border-radius: 4px;
  position: relative;
}

.eventDetails {
  padding-top: 10px;
  font-style: italic;
}

.detailsButton {
  padding: 10px 10px;
  outline: none;
  cursor: pointer;
  border: 0px;
  background-color: tomato;
  color: white;
  font-size: 14px;
  margin-top: 5px;
}

.eventsTitle {
  border: 2px solid #111111;
  color: tomato;
  padding: 5px;
  background-color: white;
  border-radius: 4px;
}

.detailsButton:hover {
  opacity: 0.9;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going,
.visibility {
  font-style: italic;
}

.description {
  margin-top: 40px;
  overflow-x: hidden;
}

.numberComponent {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  margin-top: 10px;
}

.numberComponent__item p {
  text-align: left;
  margin-top: 15px;
}

.numberComponent__item {
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: -10px;
}

.chart {
  background-color: white;
  border: 2px solid #111111;
  margin-top: 10px;
}
